{% load static %}

<html lang="en">
<head>
    <!--
     - Roxy: Bootstrap template by GettTemplates.com
     - https://gettemplates.co/roxy
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fakea Vangchhia</title>
    <link rel = "icon" href="{% static 'MainFrame/img/icons/ficon.png' %}">
    <meta name="description" content="Roxy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'MainFrame/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'MainFrame/vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'MainFrame/vendor/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'MainFrame/vendor/lightcase/lightcase.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'MainFrame/css/style.min.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0">Fakea</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-1 mb-4">F<br>V</h1>
  </div>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
  	<img src="{% static 'MainFrame/img/obj_triangle.png' %}" alt="">
  </div>
  <div class="triangle triangle-2">
  	<img src="{% static 'MainFrame/img/obj_triangle.png' %}" alt="">
  </div>
  <div class="triangle triangle-3">
  	<img src="{% static 'MainFrame/img/obj_triangle.png' %}" alt="">
  </div>
  <div class="triangle triangle-4">
  	<img src="{% static 'MainFrame/img/obj_triangle.png' %}" alt="">
  </div>
</div>	<!-- Features Section-->
<section id="features" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">
                    Welcome to <a href="https://gettemplates.co" target="_blank">Fakea's Vangchhia </a> Website
                </h2>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-10 offset-md-1 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-cog fs-40"></i>
                                </div>
                                <h4>Django</h4>
                                <p>I use django to to build your beautiful website</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-bubble fs-40"></i>
                                </div>
                                <h4>Chat</h4>
                                <p>I would always be available for you to chat</p>
                            </div>

                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-clock fs-40"></i>
                                </div>
                                <h4>Ontime</h4>
                                <p>Time will always be fixed for your project</p>
                            </div>
                    </div>
                </div>
                <!-- End of Features Holder-->
            </div>
        </div>
    </div>
</section>

</section>	<section id="section-featurettes" class="featurettes">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center">

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
    </div><!--/ .container -->

</section>	<!-- Testimonial Section-->
<!-- End of Testimonial Section-->	<!-- Portfolio Section -->
<section id="portfolio" class="bg-white">
</section>
<section id="cta" class="bg-fixed overlay" style="background-image: url({% static 'MainFrame/img/bg2.jpg' %});">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">REQUEST</h2>
                    <p>He website hi i lo visit anih chuan khawngaihin contact page atang hian min lo contact ngei dawn nia.</p>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'contact' %}">CONTACT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section--></div>
<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">

         	</div>
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">&copy; 2023 My <a href="https://gettemplates.co" target="_blank"> SOCIAL MEDIA</a></p>
         	</div>

            <div class="col-lg-4 col-md-12">
            	<nav class="nav nav-mastfoot justify-content-center">
	                <a class="nav-link" href="https://www.facebook.com/crinoz.Mr.Fake91">
	                	<i class="fab fa-facebook-f"></i>
	                </a>
	                <a class="nav-link" href="https://twitter.com/fa_keavangchhia">
	                	<i class="fab fa-twitter"></i>
	                </a>
	                <a class="nav-link" href="https://instagram.com/fa_k3avan9chh1a">
	                	<i class="fab fa-instagram"></i>
	                </a>
	            </nav>
            </div>

        </div>
    </div>
</footer>	<!-- External JS -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="{% static 'MainFrame/vendor/bootstrap/popper.min.js' %}"></script>
	<script src="{% static 'MainFrame/vendor/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'MainFrame/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'MainFrame/vendor/owlcarousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'MainFrame/vendor/stellar/jquery.stellar.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'MainFrame/vendor/isotope/isotope.min.js' %}"></script>
	<script src="{% static 'MainFrame/vendor/lightcase/lightcase.js' %}"></script>
	<script src="{% static 'MainFrame/vendor/waypoints/waypoint.min.js' %}"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

	<!-- Main JS -->
	<script src="{% static 'MainFrame/js/app.min.js' %}"></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
